-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title MDN Copy

    /[if lt IE 9]
      %script{src:"assets/javascripts/dependencies/html5shiv.js"}

    %link{href: "assets/stylesheets/screen.css", rel: 'stylesheet'}

  %body
    %header.main-header 
      .wrapper
        .logo.one-quarter.left
          %h1 
            %a{href: "home.html"} 
              MDN
        %nav.three-quarters.right
          %ul.main-list 
            %li.inline-content>
              %a{href:"#"} ZONES
            %li.inline-content>
              %a{href:"#"} WEB PLATFORM
            %li.inline-content>
              %a{href:"#"} DEVELOPER PROGRAM
            %li.inline-content>
              %a{href:"#"} TOOLS
            %li.inline-content>
              %a{href:"#"} DEMOS
            %li.inline-content>
              %form.basic-form{action: "#"} 
                %input{type: "search-text"}/ 
                %i.fa.fa-search
    .main-content
      .wrapper
        %nav.crumbs
          %ol
            %li.crum.inline-content
              %a{href:"#"}
                MDN 
                %i.fa.fa-chevron-right
            %li.crum.inline-content
              %a{href:"#"} 
                Web technology for developers 
                %i.fa.fa-chevron-right
            %li.crum.inline-content
              %a{href:"#"} 
                Javascript 
                %i.fa.fa-chevron-right
            %li.crum-last.inline-content Values, variables and literals
        %h1.big-heading Values, variables and literals
        .column-wrapper
          .main-column>
            %p This chapter discusses values that JavaScript recognizes and describes the fundamental building blocks of JavaScript expressions: variables, constants, and literals.
            %section 
              %h2.normal-heading Values
              %table.normal-table
                %thead
                  %tr 
                    %th Type
                    %th Examples of typed values/notes
                %tbody 
                  %tr 
                    %td Numbers
                    %td 42, 3.14159
                  %tr
                    %td Booleans
                    %td true/false
                  %tr
                    %td Strings
                    %td 
                      a special keyword denoting a null value; null is also a primitive value. Because JavaScript is case-sensitive, null is not the same as 
                      %span.t-code Null, NULL, 
                      or any other variant
                  %tr
                    %td.t-code undefined
                    %td 
                      a top-level property whose value is undefined;
                      %span.t-code undefined
                      is also a primitive value
                %section 
                  .code-box
                    %code.languaje-js
                      .line-number{data:{start:"1"}}
                      x
                      %span.token.operator =
                      %span.token.string "The answer is"
                      %span.token.operator +
                      %span.token.number 42
                      %span.token.comment //The answer is 42
                      %br/ 
                      .line-number{data:{start:"2"}}
                      %span y
                      %span.token.operator =
                      %span.token.number 42
                      %span.token.operator +
                      %span.token.string "is the answer"
                      %span.token.comment // 42 is the answer

                %section
                  %article.normal-text 
                    %h3.small-heading Data type conversion
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ratione, omnis, id nobis iusto minus iure quo blanditiis sequi quam dolorum sed minima ab dignissimos consequatur molestiae similique eos praesentium!
                  %article.normal-text
                    %h3.small-heading Data type conversion
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ratione, omnis, id nobis iusto minus iure quo blanditiis sequi quam dolorum sed minima ab dignissimos consequatur molestiae similique eos praesentium!
                  %article.normal-text
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ratione, omnis, id nobis iusto minus iure quo blanditiis sequi quam dolorum sed minima ab dignissimos consequatur molestiae similique eos praesentium
                  %section 
                    .code-box
                      %code.languaje-js
                        .line-number{data:{start:"1"}}
                        %span.token.keyword var
                        input
                        %span.token.punctuation ;
                        %br/ 
                        .line-number{data:{start:"2"}}
                        %span.token.keyword if
                        %span.token.punctuation (
                        input
                        %span.token.operator ===
                        undefined
                        %span.token.punctuation )
                        %span.token.punctuation {
                        %br/ 
                        .line-number{data:{start:"3"}}
                        %span.token.function "doThis"
                        %span.token.punctuation (
                        %span.token.punctuation )
                        %span.token.punctuation ;
                        %br/ 
                        .line-number{data:{start:"4"}}
                        %span.token.punctuation }
                        %span.token.keyword else
                        %span.token.punctuation {
                        %br/ 
                        .line-number{data:{start:"5"}}
                        %span.token.function "doThat"
                        %span.token.punctuation (
                        %span.token.punctuation )
                        %span.token.punctuation ;
                        %br/ 
                        .line-number{data:{start:"6"}}
                        %span.token.punctuation }

                %section 
                  .note.warning
                    %p Note: ECMA-262, Edition 2 consisted of minor editorial changes and bug fixes to the Edition 1 specification. The current release by the TC39 working group of Ecma International is ECMAScript Edition 5.1
                  .note.success
                    %p Note: ECMA-262, Edition 2 consisted of minor editorial changes and bug fixes to the Edition 1 specification. The current release by the TC39 working group of Ecma International is ECMAScript Edition 5.1
                  .note.danger
                    %p Note: ECMA-262, Edition 2 consisted of minor editorial changes and bug fixes to the Edition 1 specification. The current release by the TC39 working group of Ecma International is ECMAScript Edition 5.1
                  .note.info
                    %p Note: ECMA-262, Edition 2 consisted of minor editorial changes and bug fixes to the Edition 1 specification. The current release by the TC39 working group of Ecma International is ECMAScript Edition 5.1
                %section 
                  .button.btn.btn-xs
                    edit
                    %i.fa.fa-pencil
                  .button.btn.btn-m
                    edit
                    %i.fa.fa-pencil
                  .button.btn.btn-xl
                    edit
                    %i.fa.fa-pencil

          %aside.right-column>
            %h4 IN THIS ARTICLE
            %ol
              %li 
                %a{href: "#"} Values
                %ol.sub-list
                  %li 
                    %a.small{href:"#"} Data type conversion
                  %li 
                    %a.small{href:"#"} Converting strings to numbers
              %li 
                %a{href: "#"} Variables
                %ol.sub-list
                  %li 
                    %a.small{href:"#"} Declaring variables
                  %li 
                    %a.small{href:"#"} Evaluating variables
              %li 
                %a{href: "#"} Constants
              %li 
                %a{href: "#"} Literals
              %li 
                %a{href: "#"} Unicode
      %footer 
        .wrapper
          .main-column
            .logo.one-quarter.inline-content>
              %h1 
                %a{href: "home.html"} 
                  MDN
            %p.inline-content.three-quarters> &copy2014. Redradix








