/*------------------------------------------*\
  ASIDE SIDEBAR
\*------------------------------------------*/

.right-column {
  width: 40%;
  display: inline-block;
  background-color: $secondaryBg;
  vertical-align: top;

  position: fixed;
}