/*------------------------------------------*\
  ASIDE SIDEBAR
\*------------------------------------------*/

.right-column {
  z-index: 100;
  width: 20%;
  max-height:528px;
  display: inline-block;
  background-color: $secondaryBg;
  vertical-align: top;

  //position: fixed;
  //top: 0;
  //z-index:10;
  //overflow-y:auto;
  padding: 1.25rem;

  li {
    padding: 0.7rem;

    a:hover {
      text-decoration: underline;
    }
  }
}

.fixed {
  position: fixed;
}

//Aside responsive

.aside-responsive {
  position: relative;

  .drop-bar-aside {
    display: none;
    width: 100%;
    background: $secondaryBg;
    position: relative;
    padding: 1.25rem;
    margin-bottom: 1.25rem;

    i {
      position: absolute;
      top: 1.5rem;
      right: 1.25rem;
      color: $text;
    }
  }

  .drop-content {
    display: none;
    width: 100%;
    background: $secondaryBg;
    position: absolute;
    top: 3.8rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
    z-index: 100;

    .sub-list {
      padding: 1rem;
    }
  }
}

@include media-query(palm){
  .right-column {
    display: none;
  }

  .main-column {
    width: 100%;
  }

  .aside-responsive .drop-bar-aside {
    display: block;
  }
}

@include media-query(lap){
  .right-column {
    display: none;
  }

  .main-column {
    width: 100%;
  }

  .aside-responsive .drop-bar-aside {
    display: block;
  }
}