
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
  background: $primary;
  color: $text;
  border: none;
  border-bottom: 1px solid darken($primary, 20%);
  @include border-radius(4px);
  @include box-shadow(1px 1px 1px #ccc);
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
    
    &:hover {
    color: darken($text, 10%);
    background-color: darken($primary, 1%);
    }
  }

  .btn-xs {
    width: 10%;
    min-width: 5rem;
  }

  .btn-m {
    width: 30%;
  }

  .btn-xl {
    width: 40%;
  }