
/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.main-header {
  padding: 1.25rem 0;
  background-color: $secondaryBg;
  overflow: hidden;
  border-bottom: 1px solid darken($secondaryBg, 5%);
  line-height: 2rem;

  @include box-shadow (1px 0 #ccc);

  .logo {
    width: 10%;
  }

  nav {
    overflow:hidden; 
    text-align: right;
    width: 90%;
  }
}

.logo a {
  color: inherit;
}

.main-list a {
  padding: .7rem;
  font-weight: bold;
  color: inherit;
  display: inline;

   @include border-radius(10px);

  &:hover {
    background-color:lighten($secondaryBg, 3%);

  }

}

@include media-query(palm) {

  .wrapper {
    padding: .7rem;
  }

  .logo {
    float: none;
    margin: 0 auto;
  }

  .main-header {

    nav {
      float: none;
      width: 100%;
      text-align: center;
    }
  }

  .main-list {
    display: block;
    width: auto;

    li {
      font-size: .8rem;

      .form {
        display: block;
        width: 100%;
      }
    }

  }
}

.show {
  display: block;
}
