/*------------------------------------------*\
    Tags
\*------------------------------------------*/

.tags {
  .a-tag {
    display: inline-block;
    border: 1px solid lighten($secondary,30%);
    padding: .215rem;
    font-size: .75rem;
    background: #f4f7f8;

    @include border-radius(5px);

    &:hover {
      text-decoration: underline;
    }
   i {
    font-weight: 700;
   }
  }
}
